<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://para-lock-func.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/90eac329-a658-4544-8d72-c8f07d44c280/resourceGroups/LockAutomation_Dev_SA_RG/providers/Microsoft.Web/sites/para-lock-func</ResourceId>
    <UserName>$para-lock-func</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://para-lock-func.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>