.ui.placeholder.segment.face-container {
  overflow-y: scroll;
  background: white;
  text-align: center;
}

.ui.celled.center.aligned.five.column.grid .row .column.face-column {
  padding: 0;
}

.row .column .item.face-item {
  padding: 1em;
}

.row .column .item.face-item:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}